h1
{
    text-align: center;
    color: rgb(54, 3, 88);
}

img.opacityChangeHover
{
    opacity: 0.6;
}

img.opacityChangeHover:hover{
    opacity: 1.0;
}

th, td 
{
    border: 2px dotted rgb(54, 3, 88);
    background-color: rgb(221, 250, 255);
}

th{
    color: rgb(46, 3, 9);
    font-size: "15px";
    font-style: italic;
}

div.alignCenter{
    text-align: center;
}

table{
    text-align: center;
    border: 2px solid rgb(54, 3, 88);
    display: inline;
    background-color: rgb(221, 250, 255);
}